@import "./core/variables.scss";
@import "./core/mixins.scss";
@import "./core/reset.scss";
@import "./core/functions.scss";

.item {
  background-color: $color-primary-light;
  margin: 10px;
  padding: 10px;
}

.item:hover {
  background-color: $color-secondary-light;
}

.itemName {
  margin: 10px;
  font-size: rem(20);
}

.itemPrice {
  margin: 10px;
  font-size: rem(18);
}

.main, .drink, .dessert {
  width: 450px;
  background-color: $color-light;
  padding: 20px;
}

.sectionTitle {
  margin: 10px;
  font-size: rem(28);
}

.typeTitle{
  text-transform: capitalize;
  font-size: rem(28);
}
button, .quantity {
  display: inline-block;
  width: 30px;
  height: 30px;
}