//FONTS
$main-font: 'Patrick Hand SC', cursive;

//COLORS
$color-primary: #7247fe;
$color-primary-light: #d1cff7;
$color-primary-dark: #2f16ca;
$color-secondary: #5c5ee2;
$color-secondary-light: #ada6e7;
$color-secondary-dark: #771dab;
$color-dark: black;
$color-light: #EFEFEF;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;


//FONT-SIZE
$defaultFontSize: 16;
